<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/site.css">

    <title>Hello, world!</title>
  </head>
  <body>
  <div class="wrapper">
      
      <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#">centre de partage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home">all products</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/vetements">vetements</a>
          <a class="dropdown-item" href="/alimentations">alimentation</a>
          <a class="dropdown-item" href="/vehicules">véhicules</a>
          <a class="dropdown-item" href="/meubles">meubles</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-right: 7px;"><a href="/login">login</a></button>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    <div class="header"></div>
        <div class="section">
          <div class="row">
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs 12  products_section"> <h1>Alimentations</h1>
              <ul class="products_list">
                  
                 <% for(var i=0; i < content.length; i++) { %>
                     <li>
                       <span class="nom"> <%= content[i]["nom_objet"] %></span>
                       <span class="prix"><%=content[i]["prix"]+"$"%></span>
                       <span class="date_fin"><a class="btn" data-toggle="collapse" data-target=<%="#viewdetail"+i %>>View details &raquo;</a></span>
                     </li>
                       <div id=<%="viewdetail"+i %> class="collapse">
                        <% if(content[i]["date_fin"]) { %>
                       <p><span>date fin de l'annonce :<%=content[i]["date_fin"] %></span></p>
                       <% }%>
                       <p><span>annonceur :<%=content[i]["nom_membre"] %> <%= content[i]["prenom"]%></span></p>
                       <p><span>email de l'annonceur :<a href=<%="mailto:"+content[i]["email"] %> ><%=content[i]["email"] %> </a> </span></p>
                       <p><span>cité de l'annonceur :<%=content[i]["cité"] %></span></p>
                       <% if(content[i]["telno"]) { %>
                       <p><span>telephone :<%=content[i]["telno"] %></span></p>
                       <% } %>
                       <% if(content[i]["date_péremption"]) { %>
                        <p><span>date de péremption :<%=content[i]["date_péremption"] %></span></p>
                        <% } %>
                          <% if(content[i]["quantité"]) { %>
                         <p><span>quantité :<%=content[i]["quantité"] %></span></p>
                         <%}%>
                           <% if(content[i]["origine"]) { %>
                          <p><span>origine :<%=content[i]["origine"] %></span></p>
                         <% }%>
                       
                       
                      </div>
                  <% } %>
                     </ul>
              </div>
          </div>
          
      </div>
      
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>